body {
	font-family: "Trebuchet MS", sans-serif;
}

h1 {
	text-align: center;
}

#content {
	width: 268px;
	height: 450px;
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

#refresh {
	margin: auto;
	display: block;
}

#word-form {
	width: 100%;
}

#feedback {
	display: none;
}

#wrapper-case > h2 {
	display: inline;
}